.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;

  height: 700px;

  margin: 0 50px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
