@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/static/Roboto-Light.ttf");
}

.container {
  height: 100vh;
}

.top-half {
  height: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("../images//homeImage.jpg");
}

.bottom-half {
  height: 50%;
  background-color: white;
}

.home-title {
  height: 76px;
  margin: 79px 160px 24px 160px;
}

.home-title p {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 900;
}
