.footer {
  background-color: #0f264c;

  margin-top: 70rem;
  width: 90rem;
  height: 41.25rem;
  border-top-right-radius: 6.25rem;
}

.footer img {
  margin-top: -10rem;
}

.footer-text {
  width: 806px;
  border-left: 10px #ee4d47 solid;
  height: 160px;
  margin: 100px 0 0 240px;
}

.footer-text p {
  display: inline-block;
  height: 140px;
  width: 330px;
  color: white;
  font-family: "Rubik";
  padding: 10px 0 10px 40px;

  font-size: 20px;
  line-height: 30px;
}

.footer-nav {
  margin-top: 12rem;
  display: flex;
  justify-content: space-around;
}

.footer-logo img {
  margin-left: 80px;
}

.footer-menu nav {
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
}

.footer-menu nav a {
  font-family: "Rubik";
  font-weight: 400;
  text-transform: uppercase;
}
