section {
  height: 1400px;
  max-width: 100%;
}
.about-us {
  width: 1170px;
  height: 550px;
  margin-top: 400px;
  margin-left: 245px;

  display: flex;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 570px;
  height: 476px;
  margin-top: 70px;
}

.about-us-content div {
  background-color: #fcddd4;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 55px 30px 55px;
  border-left: 10px solid #ed4d47;
}

.about-us-content h2 {
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  color:  #EE4D47;
}

.about-us-content h3 {
  font-size: 24px;
  font-weight: 500;
}

.about-us p {
  padding-right: 12rem;
  line-height: 30px;
  font-size: 18px;
  color: #402b2b;
  font-weight: 300;
}
