.logo-container {
  display: grid;
  grid-template-columns: 67% 33%;
  height: 73px;
}

.logo {
  width: 200px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-left: 80px;
}
.logo img {
  height: 30px;
  width: 30px;
}

.logo h2 {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #3e3f43;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.nav-container nav {
  font-family: "Nunito  ";
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 400;
  color: #222222bf;
}
