.card-container {
  height: 500px;
  display: flex;
}

.card-image {
  height: 400px;
  margin: 40px 104px 0px 210px;
}

.card-text {
  width: 450px;
  height: 200px;
  font-size: 24px;
  font-weight: 600;

  margin: 144px 110px 0 0;
  font-family: "Nunito";
  text-align: justify;
}
